#timeline.cls-1{fill:#f05a22;}
#timeline.cls-2,
#timeline.cls-3{fill:none;}
#timeline.cls-2,.cls-3,.cls-4,.cls-5{stroke:#6dc7be;stroke-miterlimit:10;}
#timeline.cls-2{stroke-width:3px;}
#timeline.cls-4,.cls-5{fill:#6dc7be;}
#timeline.cls-5{stroke-width:0.8px;}