.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    height: 60px;
    line-height: 20px;
    background-color:#6dc7be;
    margin-bottom: 30px;
  }

  h2 {
    width: 100%; 
    text-align: left; 
    border-bottom: 3px solid #4281A4; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    font-size: 40px;
    color: #C1666B;
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 95px;
  } 
 
  h2 span { 
      background:#6dc7be; 
      padding:0 15px; 
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .social {
    display: flex;
    flex-direction: row;
    align-items: bottom;
  }
  