h1{ 
    width: 100%; 
    text-align: center; 
    border-bottom: 1.5px solid #C1666B; 
    line-height: 0.1em;
    margin: 20px 0 20px; 
    font-size: 30px;
    color: #4281A4;
    font-family: 'Bebas Neue', sans-serif;
}

span{
    background-color: #E4DFDA;
}